@import "tailwindcss";

/* inter-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/inter-v20-latin-200.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/inter-v20-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/inter-v20-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/inter-v20-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/inter-v20-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* newsreader-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/newsreader-v26-latin-200.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* newsreader-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/newsreader-v26-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* newsreader-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/newsreader-v26-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* newsreader-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/newsreader-v26-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* newsreader-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Newsreader';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/newsreader-v26-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@theme {
    --color-primary: #071B2B;
    --color-accent: oklch(68.1% 0.162 75.834);
    --color-accentDark: oklch(0.57 0.12 78.15);
    --color-accentDarker: oklch(0.55 0.09 82.32);
    --color-accentLight: oklch(98% 0.016 73.684);
    --font-title: "Newsreader", sans-serif;
    --font-body: "Inter", sans-serif;
}

body {
    @apply text-primary font-body;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 300;
    line-height: 1.6em;
}

a.link:hover {
    @apply text-accent;
}

.logo {
    @apply flex items-center gap-2;
    font-weight: 500;
}

.logo .icon {
    @apply bg-accent h-10 w-10 sm:h-12 sm:w-12;
}

.logo .branding {
    @apply flex flex-col;
}

.logo .part-1 {
    @apply font-title uppercase text-base sm:text-xl;
}

.logo .part-2 {
    @apply font-body uppercase text-xs sm:text-sm;
    letter-spacing: .5em;
}

#hero {
    @apply bg-primary text-white;
}

#hero .features {
    @apply bg-olive-50 text-primary border-b-1 border-olive-200;
}

#hero .features .container {
    @apply py-4 sm:py-8;
}

.hero-title {
    @apply font-title text-4xl md:text-5xl leading-tight;
    font-weight: 400;
}

.hero-title span {
    @apply text-accent;
}

.hero-subtitle {
    @apply leading-relaxed;
}

.section-header {
    @apply space-y-4;
}

.section-header-separator {
    display: block;
    width: 4rem;
    height: 4px;
    @apply bg-accent;
}

.section-header.text-center .section-header-separator {
    @apply mx-auto;
}

.container {
    /* @apply mx-auto max-w-7xl; */
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 xl:px-0;
}

#nav .container {
    /* @apply px-0 py-4; */
    @apply py-4;
}

#hero .container,
section .container {
    /* @apply px-0 py-16; */
    @apply py-16;
}

#footer .container {
    /* @apply px-0 py-8; */
    @apply py-8;
}

.section-eyebrow {
    letter-spacing: .1em;
    @apply uppercase text-sm font-medium text-accentDark;
}

.section-eyebrow.darker {
    @apply text-accentDarker;
}


.section-title {
    /* @apply font-title text-4xl; */
    @apply font-title text-3xl md:text-4xl leading-tight;

    font-weight: 400;
}

.button {
    @apply flex items-center justify-center sm:justify-start gap-1 text-primary px-5 py-3 rounded-md;
}

.button .icon {
    @apply h-6 w-6;
}

.button.primary {
    @apply bg-accent;
}

.button.secondary {
    @apply bg-primary border-2 border-accent text-white;
}

/*-------- ICON BOX ---------*/

.icon-box {
    @apply grid gap-2;
}

.icon-box .item {
    @apply flex gap-2;
}

/*
SHRINK-0
THE ANSWER TO WHY SVG ICONS DIMENSIONS WORK WEIRDLY IN FLEX-ROW
*/
.icon-box .icon {
    @apply shrink-0;
}

/*--- trust-badges ---*/

.icon-box.trust-badges {
    @apply grid-cols-none grid-flow-col auto-cols-max justify-center sm:justify-start gap-3 text-xs;
}

.icon-box.trust-badges .item {
    @apply flex-col items-center text-center sm:flex-row sm:items-start sm:text-left;
}

.icon-box.trust-badges .icon {
    @apply w-[24px] h-[24px] bg-accent;
}

/*--- feature-list ---*/

.icon-box.feature-list {
    @apply grid-cols-4 text-xs sm:text-base;
}

.icon-box.feature-list .item {
    @apply flex-col items-center justify-center text-center md:flex-row md:text-left;
}

.icon-box.feature-list .icon {
    @apply w-[32px] h-[32px] lg:w-[48px] lg:h-[48px] bg-primary/60;
}

.icon-box.feature-list .metric {
    @apply font-title font-medium text-xl md:text-3xl;
}

.icon-box.feature-list .item:not(:last-child) {
    @apply sm:border-r-1 border-olive-200;
}

/*--- cards ---*/

.icon-box.cards {
    @apply grid-cols-1 sm:grid-cols-2 lg:grid-cols-4;
}

.icon-box.cards .item {
    @apply flex-row gap-2 items-start justify-start p-4;
}

.icon-box.cards.item-border .item {
    @apply rounded-md border-1 border-olive-200;
}

.icon-box.cards:not(.item-border) {
    @apply gap-0;
}

.icon-box.cards:not(.item-border) .item {
    @apply border-0 border-olive-200 sm:p-8;
}

.icon-box.cards:not(.item-border) .item:not(:last-child) {
    @apply border-b-1 sm:border-0 lg:border-r-1;
}

.icon-box.cards:not(.item-border) .item:nth-child(odd) {
    @apply sm:border-r-1;
}

.icon-box.cards:not(.item-border) .item:nth-child(1),
.icon-box.cards:not(.item-border) .item:nth-child(2) {
    @apply border-b-1 md:border-b-0;
}

.icon-box.cards .icon {
    @apply w-[32px] h-[32px];
}

.icon-box.cards .title {
    @apply font-title font-medium text-xl;
}

/*--- steps ---*/

.icon-box.steps {
    @apply grid-cols-1 gap-5 sm:grid-cols-5;
}

.icon-box.steps .item {
    @apply flex flex-col items-center justify-start text-center max-w-64 mx-auto;
}

.icon-box.steps .title {
    @apply font-title text-xl font-medium;
}

.icon-box.steps .icon {
    @apply w-[32px] h-[32px] bg-accent;
}

/*--- address ---*/

.icon-box.address {
    @apply grid-cols-1 gap-2;
}

.icon-box.address .item {
    @apply flex gap-2 items-center justify-start;
}

.icon-box.address .icon {
    @apply bg-accent;
}

/*-------- END OF ICON BOX ---------*/

.list {
    @apply space-y-2;
}

.list li {
    @apply flex items-center gap-2;
}

.list li:before {
    content: "";
    display: inline-block;
    @apply bg-accent w-6 h-6;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='black' d='m10.6 13.8l-2.15-2.15q-.275-.275-.7-.275t-.7.275t-.275.7t.275.7L9.9 15.9q.3.3.7.3t.7-.3l5.65-5.65q.275-.275.275-.7t-.275-.7t-.7-.275t-.7.275zM12 22q-2.075 0-3.9-.788t-3.175-2.137T2.788 15.9T2 12t.788-3.9t2.137-3.175T8.1 2.788T12 2t3.9.788t3.175 2.137T21.213 8.1T22 12t-.788 3.9t-2.137 3.175t-3.175 2.138T12 22m0-2q3.35 0 5.675-2.325T20 12t-2.325-5.675T12 4T6.325 6.325T4 12t2.325 5.675T12 20m0-8'/%3E%3C/svg%3E");
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    flex-shrink: 0;
}

.testimonials {
    @apply flex justify-between gap-5;
}

.testimonial-item {
    @apply border-1 border-olive-200 rounded-md p-8;
}

.testimonial-user {
    @apply font-semibold;
}

.testimonial-item .icons > * {
    @apply bg-accent;
}

.faq-item {
    @apply rounded-xl border border-slate-200 p-4;
}

.faq-item summary {
    @apply font-medium flex cursor-pointer justify-between;
}

.faq-item > p {
    @apply pt-4;
}

#footer {
    @apply bg-primary text-white font-extralight text-sm sm:text-base;
}

/*--------------- SVG ICONS ---------------*/

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-color: currentColor;
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
}

/* justice */
.hugeicons--justice-scale-01 {
    mask-image: url("../images/icons/hugeicons--justice-scale-01.svg");
}

/* whatsapp */
.ic--outline-whatsapp {
    mask-image: url("../images/icons/ic--outline-whatsapp.svg");
}

/* Berlisensi peradi */
.solar--shield-check-linear {
    mask-image: url("../images/icons/solar--shield-check-linear.svg");
}

/* Certificate */
.icon-park-outline--certificate {
    mask-image: url("../images/icons/icon-park-outline--certificate.svg");
}

/* Konsultasi online */
.hugeicons--chat-01 {
    mask-image: url("../images/icons/hugeicons--chat-01.svg");
}

/* Berbasis di malang */
.lineicons--map-marker-5 {
    mask-image: url("../images/icons/lineicons--map-marker-5.svg");
}

/* Clients */
.fluent--people-team-32-regular {
    mask-image: url("../images/icons/fluent--people-team-32-regular.svg");
}

/* briefcase */
.hugeicons--briefcase-01 {
    mask-image: url("../images/icons/hugeicons--briefcase-01.svg");
}

/* Star */
.hugeicons--star {
    mask-image: url("../images/icons/hugeicons--star.svg");
}

/* Shield star */
.solar--shield-star-linear {
    mask-image: url("../images/icons/solar--shield-star-linear.svg");
}

/* Perdata  */
.hugeicons--user-shield-02 {
    mask-image: url("../images/icons/hugeicons--user-shield-02.svg");
}

/* Pidana */
.fluent--gavel-16-regular {
    mask-image: url("../images/icons/fluent--gavel-16-regular.svg");
}

/* Perceraian */
.mynaui--heart-broken {
    mask-image: url("../images/icons/mynaui--heart-broken.svg");
}

/* Waris */
.iconoir--donate {
    mask-image: url("../images/icons/iconoir--donate.svg");
}

/* Perusahaan */
.ph--building-office {
    mask-image: url("../images/icons/ph--building-office.svg");
}

/* Pertanahan */
.hugeicons--land-plot {
    mask-image: url("../images/icons/hugeicons--land-plot.svg");
}

/* Perjanjian */
.bitcoin-icons--sign-outline {
    mask-image: url("../images/icons/bitcoin-icons--sign-outline.svg");
}

/* Mediasi */
.hugeicons--agreement-02 {
    mask-image: url("../images/icons/hugeicons--agreement-02.svg");
}

/* Tax */
.hugeicons--taxes {
    mask-image: url("../images/icons/hugeicons--taxes.svg");
}

/* Customs */
.fluent-emoji-high-contrast--customs {
    mask-image: url("../images/icons/fluent-emoji-high-contrast--customs.svg");
}

/* Chat bubbles */
.token--chat {
    mask-image: url("../images/icons/token--chat.svg");
}

/* Clipboard check */
.heroicons--clipboard-document-check {
    mask-image: url("../images/icons/heroicons--clipboard-document-check.svg");
}

/* Speed */
.material-symbols--speed-outline-rounded {
    mask-image: url("../images/icons/material-symbols--speed-outline-rounded.svg");
}

/* Client's privacy */
.solar--shield-user-linear {
    mask-image: url("../images/icons/solar--shield-user-linear.svg");
}

/* Star full */
.typcn--star-full-outline {
    mask-image: url("../images/icons/typcn--star-full-outline.svg");
}

.ph--number-circle-one-fill {
    mask-image: url("../images/icons/ph--number-circle-one-fill.svg");
}

.ph--number-circle-two-fill {
    mask-image: url("../images/icons/ph--number-circle-two-fill.svg");
}

.ph--number-circle-three-fill {
    mask-image: url("../images/icons/ph--number-circle-three-fill.svg");
}

.ph--number-circle-four-fill {
    mask-image: url("../images/icons/ph--number-circle-four-fill.svg");
}

.ph--number-circle-five-fill {
    mask-image: url("../images/icons/ph--number-circle-five-fill.svg");
}

.ic--outline-email {
    mask-image: url("../images/icons/ic--outline-email.svg");
}

.mdi--clock-outline {
    mask-image: url("../images/icons/mdi--clock-outline.svg");
}
